:root {
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.hero {
  border: 2px solid red;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
}
.hero nav .logo {
  width: 80px;
}
.hero nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
.hero nav ul li a {
  text-decoration: none;
  color: var(--white);
}
.hero .content {
  text-align: center;
}
.hero .content h1 {
  font-size: 160px;
  color: var(--white);
  font-weight: 600;
}
.hero .content a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
  font-size: 24px;
}